body{
    background-color: rgb(192, 192, 239);
    margin: 0;
}


header h1{
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

a{
    text-decoration: none;
    color: black;
}

header ul {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255); 
    list-style-type: none;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 1em 0em   
}

header ul li {
    margin-right: 2em;
}

section{
    display: flex;
    justify-content: space-around;
    padding: 0 2em;
}

img{
    width: 40%;
}

main p{
    display: flex;
    align-content: center;
    font-family: oblique;
    color: rgb(0, 0, 0);
    font-size: large;
}